<!DOCTYPE html>
<html>
<head>
<title>HTML Layout using Tables</title>
</head>
<body>
<table width="100%" border="0">
  <tr>
    <td colspan="2" bgcolor="#24478f" height="150">
     <h2>CROSSOVER</h2>
    <img src="/img/WebLogo.png" alt="Logo Image" />
    </td>
  </tr>
  <tr valign="top">
    <td bgcolor="#c3c3c3" width="30">
            <tr valign="top">
            <td bgcolor="#FFFFFF" width="30" height="300">
                Select Question
                      HTML<br />
      					PHP<br />
      					PERL...
             </td>
            </tr>
            <tr valign="top">
            <td bgcolor="#FFFFFF" width="30" height="300">
                Time Remaining
             </td>            
            </tr>
    </td>
    <td bgcolor="#FFFFFF" width="200" height="600">
        Technical and Managerial Tutorials
    </td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#24478f" height="80">
      <center>Copyright © 2017 Dove Technologies Limited</center>
    </td>
  </tr>
</table>
</body>
</html>